/* Important stuff */
body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "header header header header"
    "nav main main main"
    "nav main main main"
    "footer footer footer footer"
    ;
}

/* End of important stuff */ 

/* Header section */

header {
    grid-area: header;
    margin: 10px;
}

h1 {
    margin: 50px;
}

/* End of header section */

/* Nav bar section */

nav {
    grid-area: nav;
    margin: 15px;
}

.dropdownbtn {
    margin: 4px;
    border-radius: 100px;
    padding: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-apps , .dropdown-art {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* End of nav bar section */

/* Main/body section */

main {
    grid-area: main;
    margin: 10px;
}

/* End of main/body section */

/* Footer section */

footer {
    grid-area: footer;
    margin: 50px;
}

/* End of footer section */

/* End of code */
