/* Important stuff */
body {
    
}

/* End of important stuff */ 

/* Header section */

h1 {
     
}

p {
     
}

header {
     
}

 

/* End of header section */

/* Nav bar section */

nav {
     
}


/* End of nav bar section */

/* Main/body section */

main {
    
}

/* End of main/body section */

/* Footer section */

footer {
    
}

/* End of footer section */

/* End of code */
/* --------------------------------------------------------------------------------------------------------------- */ 
/* About.html */




/* End of About.html section */
/* --------------------------------------------------------------------------------------------------------------- */
/* Provinces.html */




/* End of Provinces.html section */
