body {
    display: grid;
    background-color: aquamarine;
    height: 100%;
    grid-template-areas: 
    "nav nav nav"
    "main main main"
    "main main main"
    "footer footer footer";
}

nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    margin: 20px;
    background-color: aqua;
    border: 2px black solid;
    border-radius: 25px;
}

.navigation {
    display: grid;
    place-content: center;
    border: 2px black solid;
    border-radius: 25px;
    margin: 20px;
}

.main-card {
    grid-area: main;
    background-color: aqua;
    border: 2px black solid;
    border-radius: 25px;
    margin: 30px;
    padding: 20px;
    place-content: center;
    height: 100vh;
    width: 90vw;
}

.project-card {
    background-color: aqua;
    border: 2px black solid;
    border-radius: 25px;
    margin: 30px;
    padding: 20px;
    place-content: center;
}

.socials-card {
    background-color: aqua;
    border: 2px black solid;
    border-radius: 25px;
    margin: 30px;
    padding: 20px;
    place-content: center;
}

footer {
    grid-area: footer;
    margin: 20px;
}

a {
    text-decoration: none;
}

