body {
    display: grid;
    background-color: rgb(255, 255, 255);
    height: 100%;
    grid-template-areas: 
    "nav nav nav"
    "main main main"
    "main main main"
    "footer footer footer";
}

h1 , h2 , p {
    padding: 20px;
}

nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    margin: 20px;
    background-color: rgb(224, 176, 171);
    border-radius: 25px;
}

.navigation {
    display: grid;
    place-content: center;
    background-color: rgb(170, 129, 124);
    border-radius: 25px;
    margin: 20px;
}

.navigation:hover {
    background-color: rgb(145, 109, 104);
    box-shadow: 5px 5px 10px 2px rgba(71, 71, 77, 0.2);
}

.main-card {
    grid-area: main;
    background-color: rgb(170, 133, 128);
    border-radius: 25px;
    margin: 30px;
    padding: 20px;
    place-content: center;
    height: 100vh;
    width: 90vw;
}

.project-card {
    background-color: rgb(145, 109, 104);
    border-radius: 25px;
    margin: 30px;
    padding: 20px;
    place-content: center;
}

.project-card:hover {
    background-color: rgb(145, 109, 104);
    box-shadow: 5px 5px 10px 2px rgba(71, 71, 77, 0.2);
}

.socials-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(145, 109, 104);
    border-radius: 25px;
    margin: 30px;
    padding: 20px;
    place-content: center;
}

.socials-card:hover {
    background-color: rgb(145, 109, 104);
    box-shadow: 5px 5px 10px 2px rgba(71, 71, 77, 0.2);
}

footer {
    grid-area: footer;
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
}

